
.mashsharer-box {
/*margin-right:30px;
margin-top:4px;*/
/*line-height: 40px;*/
/*padding-bottom:40px;*/
float:clear;
}


.mashsharer-count {
text-align: center;
margin-right: 30px;
margin-top: 7px;
float: left;
line-height: 20px;
}

.mashsharer-buttons {
display:inline-block;
float:left;
padding-bottom:7px;
}

.mashsharer-buttons > .facebook{
font-size: 13px;
border-radius: 2px;
margin-right: 4px;
background: #2d5f9a;
position: relative;
display: inline-block;
cursor: pointer;
height: 41px;
width: 134px;
color: #FFF;
line-height:41px;
/*text-align:center;*/
background: url(facebook.png) no-repeat 10px 12px #2D5F9A;
padding-left: 35px;
}

.mashsharer-buttons > .twitter{
font-size: 13px;
border-radius: 2px;
margin-right: 7px;
background: #00c3f3;
position: relative;
display: inline-block;
cursor: pointer;
height: 41px;
width: 116px;
color: #FFF;
line-height:41px;
/*text-align:center;*/
background: url(twitter.png) no-repeat 10px 14px #00c3f3;
padding-left:37px;
}
.mashsharer-sharetext {
font-size:11px;
font-family:Arial,sans-serif;
color:#8A8C8E;
}


